{% extends 'post_template.html' %}

{% block head2 %}
<script type="module" src="{{url_for('static', filename='js/theneedledrop/the_needledrop_2021.js')}}"></script>
<script type="module" src="{{url_for('static', filename='js/scrollspy.js')}}"></script>
{% endblock %} 

{% block title %}
{{ title }}
{% endblock %}
{% block caption %}
{{ caption }}
{% endblock %}
{% block author %}
{{ author}}
{% endblock %}
{% block date %}
{{ date }}
{% endblock %}
{% block data_source %}
<a class="post-link" target="_blank" href="{{ data_source }}">theneedledrop.com</a>
{% endblock %}
{% block data_file %}
<a class="post-link" target="_blank" href="{{ data_file }}">The NeedleDrop Review Data</a>
{% endblock %}

{% block scrollspy %}
<nav id="article-scrollspy" class="navbar scrollspy-navbar">
    <nav class="nav nav-pills flex-column">
            <a class="scrollspy-link" href="#section1">Who is Anthony Fantano?</a>
            <a class="scrollspy-link" href="#section2">Yearly Review Stats</a>
            <a class="scrollspy-link" href="#section3">Genres</a>
            <a class="scrollspy-link" href="#section4">Artists</a>
            <a class="scrollspy-link" href="#section5">Miscellaneous</a>
            <a class="scrollspy-link" href="#section6">Conclusion</a>
    </nav>
</nav>


{% endblock %}

{% block content %}
<div class="scrollspy-div" data-spy="scroll" data-target="#article-scrollspy" data-offset="0">
    <p style="white-space: pre-line;">
    <h2 id="section1" class="pres-header">Who is Anthony Fantano?</h2>
    <p>For those of you who recognize this man above, (but not from music reviews), it might be from this infamous audio clip:
        <iframe class="post-vid" src="https://www.youtube.com/embed/HMKUlsJpov8">
        </iframe>
        But when he's not being a meme, he's actually a reputable music critic, posting most of his reviews on his youtube channel <a href="https://www.youtube.com/user/theneedledrop" target="_blank">theneedledrop</a>.
    </p>
    <p>
        A hallmark element of Anthony's videos are the numerical scores he gives at the ends of his videos. The scores range from 0-10, with a special category, "NOT GOOD", which he addresses in <a href="https://www.youtube.com/watch?v=EVvldiRCnec" target="_blank">this</a>
        video, (essentially, it means Anthony thought it was not worth the effort of reviewing or had a low expectation to begin with).
        
    </p>
    <p>
        Anthony started reviewing albums in 2008, and as of July 2021, has reviewed over <a href="#footnote1">at least [1]</a> 1400 albums, . 
        Still,that's quite a bit of data, and in this article, we'll use data scraped from his website to take a look at his reviewing patterns over the years.
        
    </p>
    <p>
        While each review clearly holds more nuance than one singular number, for the sake of our analysis, we will have to overlook this oversimplification. 
        Something else to note about Anthony's rating scale: he has stated that his ratings are not entirely comparable across different artists, 
        but instead the rating is somewhat relative to past releases and expectations of an artist.
    </p>
    <p>
        So at the end of the day, the numbers are just numbers chosen by Anthony, 
        and this is more-so just a for-fun look at trends in how one man chooses his numbers across genre, space, and time.
    </p>
    <p class="footnote" id="footnote1">[1] Not all his reviews are still posted, so my dataset only goes as far back as October 2012.</p>
    
    <h2 id="section2" class="pres-header">Annual Review Statistics</h2>
    <p>One of the most immediate questions we might have is, what is his average rating? 
        And has it changed over the years?</p>
    <div id="stats-menu1">
    </div> 
    <svg id="stat-svg1">
    </svg>
    <svg id="stat-svg2">
    </svg>
    <p>
        Anthony seems pretty consistent in sticking with an average score of ~6 year to year.
    </p>
    <h2 id="section3" class="pres-header">Scores by Genre</h2>
    <p>
        Let's see if this holds across genres:
    </p>
    <h4 class="sub-header">Selected Genres:</h4>
    <div id="stats-menu3">
    </div> 
    <h4 class="sub-header">Graph Components:</h4>
    <div id="stats-menu3a" style="display: inline;">
    </div> 
    <div id="stats-menu3b" style="display: inline; float: right;">
    </div> 
    <svg id="stat-svg3">
    </svg>
    <p>Not as much here, Anthony seems to have some preference for certain genres (nothing wrong with that by the way). 
        Regardless, when sorted by number of reviews, we can see experimental, jazz, singer-songwriter, and folk album reviews are Anthony's <b>7th, 11th, 10th, and 8th</b> most reviewed genres respectively.
        However, when sorted by mean score, they take <b>1st through 4th</b>, with mean scores of __ compared to all other genres with a mean of __. Running a t-test on experimental vs. all else, 
        we get: t() = __, and p = __, a very significant difference.</p>

    <h2 id="section4" class="pres-header">Anthony's Favorite Artists?</h2>
    <p>Can we paint a caricature of Fantano's favorite artists based on his ratings? Is it just Death Grips? (Is this even worth doing??)</p>
    <p>Let's first look at his most reviewed and highest-rated artists (min. n reviews):</p>
    <svg id="stat-svg4">
    </svg>
    <p>What about the artists he deems most inconsistent (highest standard deviation in score):</p>
    <p>What about his least favorite (min. n reviews):</p>

    <h2 id="section5" class="pres-header">Miscleaneous Trends</h2>
    <p>Does a self-titled release garner a higher score from Anthony? Or are the expectations only higher for these releases?</p>
    <p>Which initial letter for an album title has the highest average rating?</p>
    <p>Is the length of the album title related to score?</p>
    <svg id="stat-svg5">
    </svg>

    <h2 id="section6" class="pres-header">Closing the Case on this Cantalope</h2>
    <p class="last-content">OK, main takeaways from this review: Anthony has been able to maintain his sanity over the years and keep giving out consistent ratings,
        his reviews are getting __, and __. 
        Overall, I think he's had a solid career so far and I'm excited to hear what's coming next.
        I'm thinking a strong 6 to a light 7.</p>
</div>
{% endblock %}