.member-pic{
    max-height: 20vw;
    max-width: 20vw;
}
.member-name{
    font-size: larger;
}
.member-position{
    font-size: medium;
}
.member-major,
.member-bio{
    font-size: small;
    text-align: justify;
}