{% extends 'base.html' %}

{% block head %} 
<title>Student Virology Group | Contact</title>
    {% block head2 %}
    {% endblock %} 
{% endblock %}

{% block body %}
<div class="container container-p">
    <p>Email: <a href="mailto:svg.ucla@gmail.com">svg.ucla@gmail.com</a></p>
    <p>LinkedIn: <a href="https://www.linkedin.com/company/svg-ucla/">Student Virology Group @UCLA LinkedIn</a></p>
    <p>Phone: <a href="tel:323-508-4787">(323) 50-VIRUS || (323) 508-4787</a></p>
</div>
{% endblock %}
        <!-- {% if event['Start_Time'] is defined %} -->
        <!-- <p class="event-time"> {{ event['Start_Time'].strftime('%#I:%M %p') }} to {{ event['End_Time'].strftime('%#I:%M %p') }}</p> -->
        <!-- {% endif %} -->