{% extends 'base.html' %}

{% block head %} 
<title>Student Virology Group | Join Us</title>
{% endblock %}

{% block body %}
<div class="container container-p">
    <h2 class="page-header">Application Form</h2>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="phone number">Phone number:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="major">Major:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="year">Year:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <input type="submit" value="Submit">

    </form>
</div>
{% endblock %}