{% extends 'base.html' %}

{% block head %} 
<title>Student Virology Group | Team</title>
{% endblock %}

{% block body %}

<div class="container container-p">
    <h2 class="page-header">The Team</h2>
    <div class="row">
    {% for key,member in member_info.iterrows() %}
        <div class="col-sm-6 col-12">
            <img src="{{'../static/images/profile_pics/' + member['FirstName'] + '_' + member['LastName'] + '.jpg'}}" 
                class="member-pic">
            <p><b class="member-name">{{ member['FirstName'] }} {{ member['LastName'] }}</b></p>
            <p class="member-position">{{ member['Title'] }}</p>
            <p class="member-major">{{ member['Year'] }} Year {{ member['Major'] }} Major</p>
            <p class="member-bio">{{ member['Bio'] }}</p>
        </div>  
    {% endfor %}
    </div>
</div>
{% endblock %}